{% extends 'base.html' %} {% block body %}
<div class="d-flex justify-content-center mb-4">
    <div class="col-sm-6">
        <div class="card job-card">
            <div class="card-body">
                <h1 class="card-title text-center">{{ post_job.jobTitle }}</h1>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>{{ post_job.companyName }}</p>
                        <p>{{ post_job.jobLocation }}</p>
                        <p>{{ post_job.employmentType }}</p>
                        <p>{{ post_job.seniorityLevel }}</p>
                        <p class="card-text">
                            {{ post_job.jobDescription }}
                        </p>
                    </div>
                    <div>
                        <img class="image-details shadow" src="{{ post_job.logo }}">
                    </div>
                </div>
                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                <a
                    href="{% url 'comment' post_job.id %}"
                    class="btn btn-primary"
                    >Comment</a
                >
            </div>
        </div>
    </div>
</div>
<p class="text-center" style="font-size:1.25rem">Comments</p>
<div class="d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card job-card">
            {% for comments in post_job.comment_set.all %}
            <div class="card-body comment-card">
                <p>{{ comments.name }}</p>
                <p>{{ comments.comment }}</p>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock body %}
